body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-level-info-bar {
    background-color: lightgray;
    padding: 10px;
    text-align: left;
}

.top-level-info-bar h1 {
    color: #595473; /* Change this to 'lavender' if you prefer */
    margin: 0;
}

nav {
    background-color: #f5f5f5;
    padding: 20px;
    width: 200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
}

main {
    margin-left: 200px;
    padding: 20px;
}

.footer-info {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-left,
.footer-right {
    width: 45%;
}

.footer-title {
    font-family: 'Georgia', serif;
    font-variant-caps: small-caps;
    font-size: 1.5em;
    font-weight: bold;
}

.footer-subheader {
    font-weight: bold;
}
