body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-level-info-bar {
    background-color: lightgray;
    padding: 10px;
    text-align: left;
}

.top-level-info-bar h1 {
    color: #595473; /* Change this to 'lavender' if you prefer */
    margin: 0;
}

/* NAV BAR */

nav {
    background-color: #f5f5f5;
    padding: 20px;
    width: 200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
}






main {
    margin-left: 200px;
    padding: 20px;
}



/* DROPDOWN MENU */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/* FOOTER */

.footer-info {
    background-color: #f5f5f5;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    width: 55%;
}

.footer-right {
    width: 40%;
}

.footer-title {
    font-family: 'Georgia', serif;
    font-variant-caps: small-caps;
    font-size: 1.5em;
    font-weight: bold;
}

.footer-subheader {
    font-weight: bold;
}

.location-text {
    font-size: 0.9em;
}

.hours-title {
    text-align: right;
    margin-top: 0;
    font-size: 1em;
}

.hours-text {
    font-size: 0.9em;
    line-height: 1.1;
    text-align: right;
}

.footer-line {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 15px;
}