<div class="footer-info">
    <div class="footer-left">
        <p>
            <span class="footer-title">DDA Resource Center</span> | Phone: 718-399-4514 (x4514 from on-campus phones) | Email: ddahelp@pratt.edu |
        </p>
        <p class="footer-subheader">
            Location: The Resource Center is located on the 3rd floor of Myrtle Hall. Take a left out of the elevators, swipe to enter the 3rd floor DDA area and walk to the end of the hallway. The RC is at the end of the hallway with a service window to the right.
        </p>
    </div>
    <div class="footer-right">
        <p class="footer-subheader">Hours</p>
        <p>Mondays - Thursdays: 9:15am - 6:45pm</p>
        <p>Fridays: 9:15am - 4:45pm</p>
        <p>Saturdays and Sundays: CLOSED</p>
    </div>
</div>
