<div class="footer-info">
    <p class="footer-title">DDA Resource Center</p>
    <hr class="footer-line">
    <div class="footer-content">
        <div class="footer-left">
            <p><span class="footer-subheader">Phone</span> 718-399-4514 (x4514 from on-campus phones) | <span class="footer-subheader">Email</span> ddahelp@pratt.edu |</p>
            <p class="footer-subheader">Visit: </p>
            <p class="location-text">The Resource Center is located on the 3rd floor of Myrtle Hall. Take a left out of the elevators, swipe to enter the 3rd floor DDA area and walk to the end of the hallway. The RC is at the end of the hallway with a service window to the right.</p>
        </div>
        <div class="footer-right">
            <p class="footer-subheader hours-title">Hours</p>
            <p class="hours-text">Mondays - Thursdays: 9:15am - 6:45pm</p>
            <p class="hours-text">Fridays: 9:15am - 4:45pm</p>
            <p class="hours-text">Saturdays and Sundays: CLOSED</p>
        </div>
    </div>
</div>
