<ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
        <a href="equipment.html">Equipment List</a>
            <ul class="dropdown-content">
                <li><a href="cameras.html">Cameras</a></li>
                <li><a href="camera_accessories.html">Camera Accessories</a></li>
                <li><a href="projectors_screens.html">Projectors and Screens</a></li>
                <li><a href="lighting_equipment.html">Lighting Equipment</a></li>
                <li><a href="tripods_stands_mounts.html">Tripods, Stands, and Mounts</a></li>
                <li><a href="microphones_audio_recorders.html">Microphones and Audio Recorders</a></li>
                <li><a href="audio_accessories.html">Sound Creation and Audio Accesories</a></li>
                <li><a href="speakers_headphones.html">Speakers and Headphones</a></li>
                <li><a href="computers_adapters.html">Computers and Adapters</a></li>
                <li><a href="memory_cards_card_readers.html">Memory Cards and Card Readers</a></li>
                <li><a href="drawing_tablets_lightboxes.html">Drawing tablets and lightboxes</a></li>
                <li><a href="vr_ar.html">VR, AR, and Gaming</a></li>
                <li><a href="stop_motion.html">Stop Motion</a></li>
            </ul>
    </li>
    <li><a href="rooms.html">Rooms and Reservable Resources</a></li>
    <li><a href="tutorials.html">Tutorials and Resources</a></li>
    <li><a href="policies.html">Policies and Rules</a></li>
    <li><a href="faq.html">FAQ</a></li>
</ul>